{% extends "login/layout.html" %}

{% load static %}

{% block title %}<title>Home page</title>{% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'css/admin_panel.css' %}"> {% endblock %}

{% block body%}

    <nav class="sidebar">
        <ul class="nav-links">
            <li class="logo-section">
                <img class="logo" src="{% static 'asset/logo1.png' %}" alt="logo"> 
                <span>SDO Baliwag</span>
            </li>
            <li><a href="{% url 'admin_panel' %}">Events</a></li>
            <li><a href="{% url 'admin_calendar' %}">Calendar</a></li>
            <li><a href="{% url 'admin_certificate' %}">Certificate</a></li>
            <li><a href="{% url 'admin_setting' %}">Settings</a></li>
            <li><a href="{% url 'admin_users' %}">Users</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>



    <div class="container contents">






        <div class="btn btn-sm muted-btn">
            <a href="{% url 'make_webinar' %}" style="color: white; text-decoration: none;">Create Seminar</a>
        </div>
        

        <div class="container-fluid webinar mt-4">
            <div class="row">
                {% for webinar in webinars %}
                <div class="col-12 col-md-6 mb-4">
                    <div class="p-3 border rounded shadow-sm bg-white h-100">
                        <h5 class="fw-bold">{{ webinar.title }}</h5>
                        <div class="text-muted mb-2">{{ webinar.instructor }}</div>
        
                        <div class="row g-3">
                            <div class="col-4">
                                <img src="{{ webinar.banner.url }}" alt="works"
                                     class="img-fluid rounded" style="max-height: 200px; object-fit: cover;">
                            </div>
                            <div class="col-8">
                                <div class="description">
                                    {{ webinar.description|truncatewords:40 }}
                                </div>
                                <div class="mt-2">
                                    <a class="btn btn-sm btn-outline-primary" href="{% url 'webinar_detail' webinar.id %}">
                                        Details
                                    </a>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        

    

{% endblock %}