{% extends "login/layout.html" %}

{% load static %}

{% block title %}<title>Home page</title>{% endblock %}

{% block css %} 
<script src="{% static 'js/full_calendar/index.global.min.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %}

{% block body%}
    <nav class="navbar">
        <ul class="nav-links">
            <li><img class="logo" src="{% static 'asset/logo1.png' %}" alt="logo"></li>
            <li><a href="#header-section">Home</a></li>
            <li><a href="#events-section">Events and Announcements</a></li>
      
            <li><a href="#aboutus-section">About us</a></li>
            {% if user.is_authenticated %}
                <li class="log-button"><a href="{% url 'logout' %}">Logout</a></li>

            
            {% else %}
                <li class="log-button" ><a  href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    {% if user.is_authenticated %}
        <h2>Welcome back, {{ user.username }}!!!</h2>
    {% endif %}



    
    <section id="header-section">
        <img id="header-img" src="{% static 'asset/header.png' %}" alt="">
    </section>

    <section id="organi-section">
        <div class="overview">
            <h2 class="title">Transfrom Your Performance </h2>
            <h2>Evaluation Process</h2>
            <p class="description">Streamline your evaluation workflow with out comprehensive platform</p>
            <p>  designed for modern orgranizations.</p>
            <div class="buttons">
                <a href="{% url 'login' %}" class="btn">Login Now</a>
                <a class="btn" id="learn-btn">Learn More</a>
            </div>

        </div>

        <div class="img-container">
            <img class="img" src="{% static 'asset/1.jpg' %}" alt="">

        </div>

    </section>

    <section id="events-section" >
        <h2> Events & Announcements</h2>

        
        <div class="events-container">
            <h5>Upcoming Events</h5>

            {% for webinar in webinars %}
                <div class="events">
                    <p class="date">{{ webinar.start_date }}</p>
                    <h6> {{ webinar.title }} </h6>

                </div>
            {% endfor %}
            

    </section>

 <h2 id="aboutus-title">About us</h2>
    <section id="aboutus-section">
        
        <p class="description aboutus-des">The Schools Division Office of Baliwag is dedicated to promoting excellence through efficient event management and evaluation. This platform streamlines attendance tracking, collects valuable participant feedback, and ensures seamless certificate generation. Committed to continuous improvement, we strive to enhance transparency and support professional growth within our education community.</p>

        <div class="image-container">
            <img class="img" src="{% static 'asset/2.jpg' %}" alt="">

        </div>
       
    </section>

<footer class="footer">
  <div class="footer-container">
    
    <!-- Left: Logo and Name -->
    <div class="footer-left">
        <img  class="logo" src="{% static 'asset/logo1.png' %}" alt="">
    
      <p>School Division Office Of The City Of BALIWAG</p>
    </div>

    <!-- Center: Quick Links -->
    <div class="footer-links">
      <h4>Quick Links</h4>
      <div class="link-columns">
        <ul>
          <li><a href="#header-section">Home</a></li>
          <li><a href="#events-section">Events</a></li>
       
          <li><a href="#aboutus-section">About Us</a></li>
        </ul>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
    </div>

    <!-- Right: Contact Info -->
    <div class="footer-contact">
      <h4>Contact Us</h4>
      <p> Baliwag City North Central School,<br> Lopez Jaena St, Baliwag, Bulacan</p>
      <p> +63912376421</p>
      <p> sdo@deped.com</p>
    </div>

  </div>
</footer>






    <div class="container webinar">
        <!-- Your webinar content remains the same -->
    </div>

    <script>
          document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar');
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      height: 300,
      width:300,
      events: "{% url 'events_data' %}"
    });
    calendar.render();
  });
    </script>
{% endblock %}