{% extends "login/layout.html" %}

{% load static %}

{% block title %}<title>Home page</title>{% endblock %}

{% block css %} 
<script src="{% static 'js/full_calendar/index.global.min.js' %}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% block body%}
    <nav class="navbar">
        <ul class="nav-links">
            <li><img class="logo" src="{% static 'asset/logo1.png' %}" alt="logo"></li>
            <li><a class="active" href="#header-section">Home</a></li>            
            <li><a href="#events-section">Events and Announcements</a></li>
            <li><a href="#events-section">Provides</a></li>
            <li><a href="#aboutus-section">About us</a></li>
            {% if user.is_authenticated %}
                <li class="log-button"><a href="{% url 'logout' %}">Logout</a></li>

            
            {% else %}
                <li class="log-button" ><a  href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    {% if user.is_authenticated %}
        <h2>Welcome back, {{ user.username }}!!!</h2>
    {% endif %}



    
    <section id="header-section">
      <div class="header-container" style="background-image: url('{% static 'asset/2.jpg' %}');">

        <div class="background-overlay"></div>

        <div class="header-contents">
          <h2>Empowering Excellence in Education Through Streamlined Events & Evaluations</h2>
          <p>This platform enhances event management with efficient attendance tracking, insightful
          participant feedback collection, and seamless certificate generation</p>

          <div class="header-button">
            <a href="#aboutus-section">
              <button >Learn More</button>
            </a>
            <a href="{% url 'login' %}">
              <button>Login</button>

            </a>
            
          </div>
        </div>

        <div class="header-img">
          <img src="{% static 'logo1.png' %}" alt="">

        </div>
      </div>

    </section>
    <section id="events-section" class="events-section" >
        <h2 class="title"> Events & Announcements</h2>

        
        <div class="events-container">
            {% for webinar in webinars %}



                <div class="webinar-card" >
                    <div class="banner-container">
                        <img class="webinar-banner" src="{{ webinar.banner.url }}" alt="">
                    </div>
                    <div class="webinar-contents">
                        <h2 class="webinar-title">{{ webinar.title }}</h2>
                     
                        <p>{{ webinar.description|truncatewords:16  }}</p>
                    <div class="webinar-button"> <a class="webinar-detail"href="{% url 'webinar_detail' webinar.id %}">Details</a></div>
                    </div>
                </div>
                
            {% endfor %}
        </div>
            

    </section>

    </section  id="provides-section" class="provides-section">
      <h2 class="title">Provides</h2>
      <div class="provide-container" >
        <div class="provide-card">
          <div class="icon-container">
            <i class="bi bi-people-fill"></i>
          </div>
          <div class="provide-contents">
            <h4>Networking</h4>
            <p>Connect with peers and grow your network</p>
          </div>


        </div>
              <div class="provide-card">
          <div class="icon-container"><i class="bi bi-award-fill"></i>
          </div>
          <div class="provide-contents">
            <h4>Certificate</h4>
            <p>Earn a certificate for your participation.</p>
              



          </div>


        </div>
              <div class="provide-card">
          <div class="icon-container"><i class="bi bi-person-video3"></i> 
          </div>
          <div class="provide-contents">
            <h4>In Person</h4>
            <p>Attend live, face-to-face sessions.</p>
          </div>


        </div>

      </div>

    </section>

    <section id="aboutus-section" class="aboutus-section">
      <div class="aboutus-container">
        <div class="img-container">
          <img src="{% static 'asset/1.jpg' %}" alt="">

        </div>
        <div class="aboutus-contents">
          <h2>About us</h2>
          <p>The Schools Division Office of Baliwag is dedicated to promoting excellence through efficient event 
management and evaluation. This platform streamlines attendance tracking, collects valuable participant 
feedback, and ensures seamless certificate generation. Committed to continuous improvement, we strive to 
enhance transparency and support professional growth within our 
education community.
</p>


        </div>

      </div>

    </section>



 

<footer class="footer">
  <div class="footer-container">
    
    
    <div class="footer-left">
        <img  class="logo" src="{% static 'asset/logo1.png' %}" alt="">
    
      <p>School Division Office Of The City Of BALIWAG</p>
    </div>

    <div class="footer-links">
      <h4>Quick Links</h4>
      <div class="link-columns">
        <ul>
          <li><a href="#header-section">Home</a></li>
          <li><a href="#events-section">Events and Announcements</a></li>
       
          <li><a href="#aboutus-section">About Us</a></li>
        </ul>
        <ul>
          <li><a href="#provides-section">Provide</a></li>
   
        </ul>
      </div>
    </div>

    <div class="footer-contact">
      <h4>Contact Us</h4>
      <p> Baliwag City North Central School,<br> Lopez Jaena St, Baliwag, Bulacan</p>
      <p> +63912376421</p>
      <p> sdo@deped.com</p>
    </div>

  </div>
</footer>






    <div class="container webinar">
 
    </div>

    <script>
          document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar');
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      height: 300,
      width:300,
      events: "{% url 'events_data' %}"
    });
    calendar.render();
  });
    </script>
{% endblock %}