<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>TITLE CARD</h2>
    <div class='webinar-card'>
        <div class="img-container">
            <img src="media\banner\educational_leadership_and_innovation_summit.png" alt="">
        </div>
        <div class="webinar-content">
            <h3>Title Card</h3>
            <p> Cards have become a cornerstone of web design — perfect for displaying products, articles, profiles, and more in a structured yet visually appealing way. With CSS, you can transform simple containers into interactive, engaging card components that enhance user experience and content readability</p>
            <button>Details</button>
        </div>

    </div>
    
</body>
</html>