{% extends "login/layout.html" %}

{% load static %}

{% block title %}<title>User</title>{% endblock %}

{% block css %} 
<link rel="stylesheet" href="{% static 'css/admin_panel/admin_bar.css' %}"> {% endblock %}

{% block body%}

<div class="app-container">
    <aside class="sidebar">
      <div class="logo">
        <img src="{% static 'asset/logo1.png' %}" alt="Logo" />
        <h2>SDO Baliwag</h2>
      </div>
      <nav class="nav">
          <a href="{% url 'index' %}" class="nav-item ">Dashboard</a>
          <a href="{% url 'calendar' %}" class="nav-item">Calendar</a>
          <a href="{% url 'certificate' %}" class="nav-item">Certificate</a>
        
          <a href="{% url 'evaluation_nav' %}" class="nav-item ">Evaluate</a>
          <a href="{% url 'attendance' %}" class="nav-item">Attendance</a>
  
          <a href="{% url 'aboutus' %}" class="nav-item active">About Us</a>
      </nav>
      <div class="logout">><a href="{% url 'logout' %}">Log out</a></div>
    </aside>
  
  
  

</div>
<footer>
    <div class="container d-flex justify-content-between flex-wrap">
        <div>
            <p>Empowering organizations through effective performance evaluation</p>
        </div>
        <div>
            <h6>Contact Us</h6>
            <p>Baliwag City North Central School, Lopez Jaena St.</p>
            <p><a href="mailto:sdo@deped.com" class="text-light">sdo@deped.com</a></p>
        </div>
    </div>
  </footer>

{% endblock %}
